@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
The @apply directive should not be used with the group utility class.
*/

@layer base {
  :root {

  }

  .dark {

  }
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

@layer utilities {
  .font-handwriting {
    font-family: 'Caveat', cursive;
  }

  @keyframes eject {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    100% {
      transform: translateX(-50%) translateY(-40%);
    }
  }

  .animate-eject {
    animation: eject 1s ease-out forwards;
  }
}